server:
  port: 8082
spring:
   data:
      mongodb:
         host: localhost
         port: 27017
         username: kevin
         password: admin
         database: property
         authentication-database: admin